# Byte-compiled Python files
*.py[cod]

# Python cache directories
__pycache__/

# Environment-specific settings
.env

# Editor-specific files
.vscode/
.idea/
*.sublime-*

# Build artifacts
build/
dist/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
